
@model IEnumerable<TopTrumpsFinal.Models.CatDeck>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" asp-controller="CatDecks" asp-action="Play">
    <button type="submit" class="btn btn-primary">Play</button>
</form>

<form method="post" asp-action="Compare" asp-route-values=" new{firstCardId = firstCardID, secondCardId = secondCardId">
    <label for="firstCardId">Enter first card ID:</label>
    <input type="text" id="firstCardId" name="firstCardId">
    <br>
    <label for="secondCardId">Enter second card ID:</label>
    <input type="text" id="secondCardId" name="secondCardId">
    <br><br>
    <input type="submit" value="Compare Cards">
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodTemper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuteness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodTemper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuteness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatDeckID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CatDeckID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CatDeckID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
