@model List<TopTrumpsFinal.Models.DogDeck>

@{
    ViewData["Title"] = "Compare";
}

<h1>Compare</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
    .table {
        width: 30%;
    }
</style>
<table class="table">
  
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayNameFor(model => model[0].ImageLink)
                </td>
             </tr>
             <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Description)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Cuteness)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuteness)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Rating)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Size)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Rarity)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Rarity)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].GoodTemper)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodTemper)
                </td>
            </tr>     
        }
</table>

