@model List<TopTrumpsFinal.Models.DogDeck>
@{
    DogDeck currentCard = null;
    DogDeck nextCard = null;
    int currentindex = 0;
    if (Model != null)
    {
        currentCard = Model[currentindex];
        nextCard = Model[currentindex + 1];
    }
    else    
    {
        <p>No cards to display</p>
    }

}
<div>
    <input type="hidden" id="currentIndex" value="@currentindex" />
    <div id="first-card">
        >
        <h2>Card @(Model.IndexOf(currentCard) + 1) of @Model.Count</h2>
        <img src="@currentCard.ImageLink" alt="@currentCard.Name" style="width:150px;height:200px;">
        <br />
        <label>
            <input type="checkbox" name="category" value="Size" /> Size: @currentCard.Size
        </label>
        <br />
        <label>
            <input type="checkbox" name="category" value="Rarity" /> Rarity: @currentCard.Rarity
        </label>
        <br />
        <label>
            <input type="checkbox" name="category" value="GoodTemper" /> Good Temper: @currentCard.GoodTemper
        </label>
        <br />
        <label>
            <input type="checkbox" name="category" value="Cuteness" /> Cuteness: @currentCard.Cuteness
        </label>
        <br />
        <label>
            <input type="checkbox" name="category" value="Rating" /> Rating: @currentCard.Rating
        </label>
        <br />
        @*<button type="button" onclick="@CompareCards()"></button>*@
        <button type="button" onclick="compareCards('@currentCard.Size', '@currentCard.Rarity', '@currentCard.GoodTemper', 
'@currentCard.Cuteness', '@currentCard.Rating','@nextCard.Size', '@nextCard.Rarity', '@nextCard.GoodTemper',
'@nextCard.Cuteness', '@nextCard.Rating')">
            Compare
        </button>
    </div>
    <div id="second-card" style="display: none;">
        <img src="@nextCard.ImageLink" alt="@nextCard.Name" style="width:150px;height:200px;">
        <br />
        <label>
            Size: @nextCard.Size
        </label>
        <br />
        <label>
            Rarity: @nextCard.Rarity
        </label>
        <br />
        <label>
            Good Temper: @nextCard.GoodTemper
        </label>
        <br />
        <label>
            Cuteness: @nextCard.Cuteness
        </label>
        <br />
        <label>
            Rating: @nextCard.Rating
        </label>
    </div>
    </div>
    <script>
        var currentCard = @Html.Raw(Json.Serialize(Model[0]));
        var cards = @Html.Raw(Json.Serialize(Model));
        var currentIndex = 0;
        var nextCard = cards[currentIndex + 1];
        function compareCards(currentSize, currentRarity, currentGoodTemper, currentCuteness, currentRating, nextSize, nextRarity, nextGoodTemper, nextCuteness, nextRating) {
            
            //alert(", Current Size: " + currentSize + ", Current Rarity: " + currentRarity + ", Current Temper: " + currentGoodTemper +
            //    ", Current Rating: " + currentRating + ", Next Size: " + nextSize + ", Next Size: " + nextSize + ", Next Rarity: " + nextRarity +
            //    ", Next Temper: " + nextGoodTemper + ", Next Size: " + nextCuteness + ", Next Cuteness: " + nextSize + ", Next Rating: " + nextRating)

            var category = $("input[name='category']:checked").val();

            if (nextCard) {
                var currentIndex = document.getElementById("currentIndex").value;
                currentIndex = currentIndex + 2;
                document.getElementById("currentIndex").value = currentIndex;
                document.getElementById("second-card").style.display = "block";
                switch (category) {
                    case "Size":
                        if (nextSize > currentSize) {
                            alert("Next card wins with a size of " + nextSize);
                        } else {
                            alert("Current card wins with a size of " + currentSize);
                        }
                        break;
                    case "Rarity":
                        if (nextRarity > currentRarity) {
                            alert("Next card wins with a rarity of " + nextRarity);
                        } else {
                            alert("Current card wins with a rarity of " + currentRarity);
                        }
                        break;
                    case "Good Temper":
                        if (nextGoodTemper > currentGoodTemper) {
                            alert("Next card wins with a good temper of " + nextGoodTemper);
                        } else {
                            alert("Current card wins with a good temper of " + currentGoodTemper);
                        }
                        break;
                    case "Cuteness":
                        if (nextCuteness > currentCuteness) {
                            alert("Next card wins with a cuteness of " + nextCuteness);
                        } else {
                            alert("Current card wins with a cuteness of " + currentCuteness);
                        }
                        break;
                    case "Rating":
                        if (nextRating > currentRating) {
                            alert("Next card wins with a rating of " + nextRating);
                        } else {
                            alert("Current card wins with a rating of " + currentRating);
                        }
                        break;
                    default:
                        alert("Please select a category");
                }
            } else {
                alert("No more cards in the deck");
            }
           
        }
       
    </script>
